.float-text-center-left {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50px;
  right: 50%;
  text-align: left;
  color: white;
}

.title {
  font-size: 40px;
}

.paragraph-text {
  font-size: 18px;
}
