.float-text-center-left {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 50px;
  right: 50%;
  text-align: left;
  color: white;
}

.title {
  font-size: 40px;
  line-height: 50px;
}

.paragraph-text {
  font-size: 18px;
  line-height: 24px;
}

.btn {
  background-color: #3e1600;
  border: 1px solid #3e1600;
  border-radius: 10px;
  padding: 20px auto;
}

.btn-primary {
  text-transform: uppercase;
  background-color: #3e1600;
  border: 1px solid #3e1600;
  border-radius: 10px;
  padding: 20px auto;
}

.slot1.row {
  background: rgba(0, 0, 0, 0.5);
}
