body {
  background-color: rgba(118, 118, 118, 0);
}

.slot-2 {
  margin: 0 auto;
  padding: 30px 45px;
  border-radius: 2px;
  max-width: 1300px;
}

.bg-white {
  background-color: white;
}

.float-text-center-left {
  position: absolute;
  top: 15%;
  bottom: 20%;
  left: 9%;
  right: 50%;
  text-align: left;
  color: white;
  padding: 10px auto;
}

.slot2-p-style {
  margin: 50px 105px 50px 20px;
}

.slot4-box {
  margin: 0 auto;
  padding: 50px 10px;
  display: inline-block;
  max-width: 1300px;
}
.title {
  font-size: 40px;
  line-height: 50px;
  text-align: left;
}

.title-2 {
  font-size: 30px;
  line-height: 41px;
  text-align: left;
}

.paragraph-text {
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.paragraph-text-2 {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #4c4c4c;
}

.btn {
  text-transform: uppercase;
  padding: 10px 30px;
  background-color: #3e1600;
  color: white;
  border-radius: 30px;
  border-color: #3e1600;
  font-size: 15px;
}

.brown-button {
  text-transform: uppercase;
  display: block;
  background: #3e1600;
  border: 1px solid #3e1600;
  border-radius: 30px;
  padding: 10px 24px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  box-shadow: 0px 7px 8px 0 rgb(255 255 255 / 10%);
  transition: all 200ms ease-in-out;
}
